# pip install boto3
boto3==1.34.49
botocore==1.34.49

# pip install opensearch
opensearch-py==2.0.1
requests==2.31.0
requests-aws4auth==1.1.2

# packages for python synthentic data generator
mimesis==4.1.3