# pip install aws-cdk
aws-cdk-lib==2.41.0
constructs>=10.0.0,<11.0.0

# pip install boto3
boto3==1.14.13
botocore==1.17.13

# pip install elasticsearch
elasticsearch>=7.0.0,<7.11
requests==2.23.0
requests-aws4auth==0.9
